name: Auto Update Flashsale

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: node updater.js
      - name: Commit and push changes
        run: |
          git config --global user.email "bot@tlynhnq.com"
          git config --global user.name "Flashsale Bot"
          git add deals.json
          git commit -m "Auto update flashsale $(date)"
          git push
